.contestant-header {
	font-weight: bold;
}

.contestant-decklist {
	margin: 15px 20px 0px 5px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#deck-container {
	display: flex;

}

.card-image {
	aspect-ratio: 12.361/15.926;
	background-size: cover;
	width: 120px;
}

.contestantBtn {
	margin-right: 10px;
}

.decklist-wrapper {
	width: 50%;
}

.hide {
	display: none;
}

#contestant-btns {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}



@media screen and (max-width: 850px) {
	#deck-container .char-inactive {
		display: none;
	}

	.decklist-wrapper {
		width: inherit;
	}
}

@media screen and (min-width: 851px) {
	#contestant-btns {
		display: none;
	}
}